[flake8]
min_python_version = 3.10.0
max-line-length = 88
ban-relative-imports = true
format-greedy = 1
inline-quotes = double
mypy-init-return = true
enable-extensions = TC, TC2
type-checking-exempt-modules = typing, typing-extensions
eradicate-whitelist-extend = ^-.*;
