interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://api.thetagang.com/trends
  response:
    body:
      string: '{"status":200,"data":{"trends":["TQQQ","F","TSLA","PLTR","SOFI","SPY","AMD","SPX"]},"message":null}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"63-OZzDZZ7lDEBc4f3BAwkS3msuITA"
      X-Ratelimit-Limit:
      - '500'
      X-Ratelimit-Remaining:
      - '480'
      X-Ratelimit-Reset:
      - '1646312770'
    status:
      code: 200
      message: OK
version: 1
