interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://api.thetagang.com/trends
  response:
    body:
      string: '{"status":200,"data":{"trends":["PLTR","NVDA","TQQQ","AFRM","DIS","TSLA","FB","QQQ","SOFI","PTON","AMD","SPY","SPX"]},"message":null}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"85-l9xO6/ZZMGsknipvIAik6BHfasI"
      X-Ratelimit-Limit:
      - '500'
      X-Ratelimit-Remaining:
      - '499'
      X-Ratelimit-Reset:
      - '1644594362'
    status:
      code: 200
      message: OK
version: 1
