interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://api.thetagang.com/trades
  response:
    body:
      string: "{\"status\":200,\"data\":{\"trades\":[{\"pl\":0,\"guid\":\"75b4946f-12fd-41cc-97cd-941b53518352\",\"expiry_date\":\"2022-03-25T05:00:00.000Z\",\"close_date\":null,\"open_date\":\"2022-03-11T16:06:27.028Z\",\"symbol\":\"AAL\",\"initial\":false,\"quantity\":1,\"type\":\"CASH
        SECURED PUT\",\"payment\":\"credit\",\"win\":null,\"user_guid\":\"2f23a8c9-950b-48ba-b4bc-cc296a7b157c\",\"tag\":null,\"short_put\":\"12\",\"long_put\":null,\"short_call\":null,\"long_call\":null,\"price_filled\":0.24,\"price_closed\":null,\"assigned\":null,\"earnings\":false,\"tweet_id\":null,\"opened_during_market_hours\":null,\"closed_during_market_hours\":null,\"closed_before_expiration\":null,\"note\":null,\"closing_note\":null,\"createdAt\":\"2022-03-11T16:06:27.028Z\",\"updatedAt\":\"2022-03-11T16:06:27.302Z\",\"stock_guid\":null,\"Actions\":[],\"Posts\":[],\"User\":{\"username\":\"schwisch\",\"flair\":null,\"role\":\"member\",\"streak\":1,\"verified\":null}},{\"pl\":0,\"guid\":\"364d6a6e-3196-42f2-ac21-7dd0d5b59641\",\"expiry_date\":\"2022-03-14T07:00:00.000Z\",\"close_date\":null,\"open_date\":\"2022-03-11T16:04:49.092Z\",\"symbol\":\"SPX\",\"initial\":false,\"quantity\":6,\"type\":\"SHORT
        NAKED CALL\",\"payment\":\"credit\",\"win\":null,\"user_guid\":\"0e56a3ab-8a0f-4197-8fb3-5eac7cd1b83c\",\"tag\":null,\"short_put\":null,\"long_put\":null,\"short_call\":\"4405\",\"long_call\":null,\"price_filled\":1.1,\"price_closed\":null,\"assign[...]
