interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://api.thetagang.com/trades
  response:
    body:
      string: "{\"status\":200,\"data\":{\"trades\":[{\"pl\":0,\"guid\":\"bc4622d4-1477-4e7d-bf80-ee50fc7ed413\",\"expiry_date\":\"2022-04-13T22:00:00.000Z\",\"close_date\":null,\"open_date\":\"2022-03-03T12:54:55.689Z\",\"symbol\":\"CRSR\",\"initial\":false,\"quantity\":1,\"type\":\"COVERED
        CALL\",\"payment\":\"credit\",\"win\":null,\"user_guid\":\"423474ec-c289-4316-b81d-04dcd3429276\",\"tag\":null,\"short_put\":null,\"long_put\":null,\"short_call\":\"25\",\"long_call\":null,\"price_filled\":0.6,\"price_closed\":null,\"assigned\":null,\"earnings\":false,\"tweet_id\":null,\"opened_during_market_hours\":null,\"closed_during_market_hours\":null,\"closed_before_expiration\":null,\"note\":null,\"closing_note\":null,\"createdAt\":\"2022-03-03T12:54:55.689Z\",\"updatedAt\":\"2022-03-03T12:54:55.945Z\",\"stock_guid\":null,\"Actions\":[],\"Posts\":[],\"User\":{\"username\":\"doonio342\",\"flair\":null,\"role\":\"member\",\"streak\":1,\"verified\":null}},{\"pl\":0.5,\"guid\":\"291266a5-c3e1-4950-b9f6-073281ade473\",\"expiry_date\":\"2022-03-03T23:00:00.000Z\",\"close_date\":\"2022-03-03T12:54:19.882Z\",\"open_date\":\"2022-03-03T12:54:09.149Z\",\"symbol\":\"SPY\",\"initial\":false,\"quantity\":1,\"type\":\"CALL
        CREDIT SPREAD\",\"payment\":\"credit\",\"win\":true,\"user_guid\":\"423474ec-c289-4316-b81d-04dcd3429276\",\"tag\":null,\"short_put\":null,\"long_put\":null,\"short_call\":\"440\",\"long_call\":\"442\",\"price_filled\":0.5,[...]
