interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://api.thetagang.com/trades/36ad8e04-b2a1-40c8-8632-55e491be10ca
  response:
    body:
      string: '{"status":200,"data":{"trade":{"pl":0,"guid":"36ad8e04-b2a1-40c8-8632-55e491be10ca","expiry_date":null,"close_date":"2022-01-10T14:49:27.687Z","open_date":"2022-01-10T14:49:27.687Z","symbol":"TSLA","initial":false,"quantity":10,"type":"BUY
        COMMON STOCK","payment":"debit","win":null,"user_guid":"766ba9b0-aa0e-491c-bcb9-2a5e9936c0ed","tag":null,"short_put":null,"long_put":null,"short_call":null,"long_call":null,"price_filled":986.99,"price_closed":null,"assigned":false,"earnings":false,"tweet_id":null,"opened_during_market_hours":null,"closed_during_market_hours":null,"closed_before_expiration":null,"note":null,"closing_note":null,"createdAt":"2022-01-10T14:49:27.687Z","updatedAt":"2022-01-10T14:49:27.944Z","stock_guid":null,"Actions":[],"Posts":[],"User":{"username":"banadushi","flair":null,"role":"member","streak":1,"verified":null}}},"message":null}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"35e-lsJS0NE87pZVJPliY/DHSTzxNEU"
      X-Ratelimit-Limit:
      - '500'
      X-Ratelimit-Remaining:
      - '494'
      X-Ratelimit-Reset:
      - '1647015281'
    status:
      code: 200
      message: OK
version: 1
