interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://api.thetagang.com/trades
  response:
    body:
      string: "{\"status\":200,\"data\":{\"trades\":[{\"pl\":0,\"guid\":\"4c4821aa-f40d-4e10-b0b8-576239ab0839\",\"expiry_date\":\"2022-02-18T06:00:00.000Z\",\"close_date\":null,\"open_date\":\"2022-02-11T15:39:19.316Z\",\"symbol\":\"CFVI\",\"initial\":false,\"quantity\":2,\"type\":\"LONG
        NAKED CALL\",\"payment\":\"debit\",\"win\":null,\"user_guid\":\"caf57aed-83c4-4dd6-b24c-0d41e1a8029e\",\"tag\":null,\"short_put\":null,\"long_put\":null,\"short_call\":null,\"long_call\":\"15\",\"price_filled\":0.93,\"price_closed\":null,\"assigned\":null,\"earnings\":false,\"tweet_id\":null,\"opened_during_market_hours\":null,\"closed_during_market_hours\":null,\"closed_before_expiration\":null,\"note\":\"bot\",\"closing_note\":null,\"createdAt\":\"2022-02-11T15:39:19.316Z\",\"updatedAt\":\"2022-02-11T15:39:19.568Z\",\"stock_guid\":null,\"Actions\":[],\"Posts\":[],\"User\":{\"username\":\"Burnttoast\",\"flair\":null,\"role\":\"member\",\"streak\":4,\"verified\":null}},{\"pl\":0,\"guid\":\"f7e9245a-1afe-423a-aa3f-679f9c0e0065\",\"expiry_date\":\"2022-02-18T06:00:00.000Z\",\"close_date\":null,\"open_date\":\"2022-02-11T15:38:34.534Z\",\"symbol\":\"UBER\",\"initial\":false,\"quantity\":1,\"type\":\"LONG
        NAKED CALL\",\"payment\":\"debit\",\"win\":null,\"user_guid\":\"caf57aed-83c4-4dd6-b24c-0d41e1a8029e\",\"tag\":null,\"short_put\":null,\"long_put\":null,\"short_call\":null,\"long_call\":\"40\",\"price_filled\":0.3,\"price_closed\":null,\"assigned\[...]
