interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://api.thetagang.com/trends
  response:
    body:
      string: '{"status":200,"data":{"trends":["IWM","F","SOXL","CEI","TQQQ","QQQ","PLTR","AAPL","SOFI","TSLA","NVDA","AMD","SPY","SPX"]},"message":null}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"8a-P8Yuqx6dtxgaYkr09IYKiybA/DI"
      X-Ratelimit-Limit:
      - '500'
      X-Ratelimit-Remaining:
      - '490'
      X-Ratelimit-Reset:
      - '1647015281'
    status:
      code: 200
      message: OK
version: 1
