interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://api.thetagang.com/trades
  response:
    body:
      string: "{\"status\":200,\"data\":{\"trades\":[{\"pl\":0,\"guid\":\"3385116a-4721-4fe1-b639-84da0bcde971\",\"expiry_date\":\"2022-02-14T08:00:00.000Z\",\"close_date\":null,\"open_date\":\"2022-02-11T15:04:47.247Z\",\"symbol\":\"SPX\",\"initial\":false,\"quantity\":6,\"type\":\"SHORT
        NAKED CALL\",\"payment\":\"credit\",\"win\":null,\"user_guid\":\"0e56a3ab-8a0f-4197-8fb3-5eac7cd1b83c\",\"tag\":null,\"short_put\":null,\"long_put\":null,\"short_call\":\"4630\",\"long_call\":null,\"price_filled\":0.63,\"price_closed\":null,\"assigned\":null,\"earnings\":false,\"tweet_id\":null,\"opened_during_market_hours\":null,\"closed_during_market_hours\":null,\"closed_before_expiration\":null,\"note\":null,\"closing_note\":null,\"createdAt\":\"2022-02-11T15:04:47.248Z\",\"updatedAt\":\"2022-02-11T15:04:47.536Z\",\"stock_guid\":null,\"Actions\":[],\"Posts\":[],\"User\":{\"username\":\"elros\",\"flair\":null,\"role\":\"member\",\"streak\":3,\"verified\":null}},{\"pl\":0,\"guid\":\"f79504e4-4182-4f27-9da3-423df42939f9\",\"expiry_date\":\"2022-02-11T06:00:00.000Z\",\"close_date\":null,\"open_date\":\"2022-02-11T15:04:27.155Z\",\"symbol\":\"IWM\",\"initial\":false,\"quantity\":1,\"type\":\"COVERED
        CALL\",\"payment\":\"credit\",\"win\":null,\"user_guid\":\"31c3a836-ad6d-4c5b-be6a-55a211e13e7c\",\"tag\":null,\"short_put\":null,\"long_put\":null,\"short_call\":\"208\",\"long_call\":null,\"price_filled\":0.09,\"price_closed\":null,\"assigned\"[...]
