interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://api.thetagang.com/trades/72060eaa-7803-4124-be5b-c03b54171e75
  response:
    body:
      string: "{\"status\":200,\"data\":{\"trade\":{\"pl\":0,\"guid\":\"72060eaa-7803-4124-be5b-c03b54171e75\",\"expiry_date\":null,\"close_date\":\"2022-02-09T16:02:32.699Z\",\"open_date\":\"2022-02-09T16:02:32.698Z\",\"symbol\":\"SPY\",\"initial\":false,\"quantity\":100,\"type\":\"BUY
        COMMON STOCK\",\"payment\":\"debit\",\"win\":null,\"profitLoss\":null,\"user_guid\":\"82ea7953-cdfb-4a4d-a381-f2a39c87c401\",\"tag\":null,\"short_put\":null,\"long_put\":null,\"short_call\":null,\"long_call\":null,\"price_filled\":456.91,\"price_closed\":null,\"open_quote\":null,\"close_quote\":null,\"assigned\":false,\"earnings\":false,\"tweet_id\":null,\"opened_during_market_hours\":null,\"closed_during_market_hours\":null,\"closed_before_expiration\":null,\"note\":\"My
        2/18 $455c breakeven is $456.90, so I decided to pick up more shares if it
        crossed the breakeven. So, here we are. \U0001F609\",\"closing_note\":null,\"createdAt\":\"2022-02-09T16:02:32.699Z\",\"updatedAt\":\"2022-02-09T16:02:32.963Z\",\"Actions\":[],\"Posts\":[],\"User\":{\"username\":\"major\",\"flair\":\"\U0001F49C
        400-streak 1\uFE0F\u20E38\uFE0F\u20E33\uFE0F\u20E3: key\",\"role\":\"patron\",\"streak\":44,\"verified\":true}}},\"message\":null}"
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"420-CC4Gkf03O+jEOBNWVOfOft5RBsI"
      X-Ratelimit-Limit:
      - '500'
      X-Ratelimit-Remaining:
      - '499'
      X-Ratelimit-Reset:
      - '1689700251'
    status:
      code: 200
      message: OK
version: 1
