interactions:
- request:
    body: ''
    headers:
    method: GET
    uri: https://api3.thetagang.com/trades/72060eaa-7803-4124-be5b-c03b54171e75
  response:
    content: "{\"status\":200,\"data\":{\"shares\":100,\"cost\":-45691,\"profitLoss\"\
      :null,\"guid\":\"72060eaa-7803-4124-be5b-c03b54171e75\",\"user_guid\":\"82ea7953-cdfb-4a4d-a381-f2a39c87c401\"\
      ,\"symbol\":\"SPY\",\"type\":\"BUY COMMON STOCK\",\"payment\":\"debit\",\"short_call\"\
      :null,\"short_call2\":null,\"long_call\":null,\"long_call2\":null,\"short_put\"\
      :null,\"short_put2\":null,\"long_put\":null,\"long_put2\":null,\"quantity\"\
      :100,\"price_filled\":456.91,\"price_closed\":null,\"opened_during_market_hours\"\
      :null,\"closed_during_market_hours\":null,\"closed_before_expiration\":null,\"\
      tweet_id\":null,\"open_quote\":null,\"close_quote\":null,\"tag\":null,\"note\"\
      :\"My 2/18 $455c breakeven is $456.90, so I decided to pick up more shares if\
      \ it crossed the breakeven. So, here we are. \U0001F609\",\"closing_note\":null,\"\
      earnings\":false,\"assigned\":false,\"win\":null,\"initial\":false,\"expiry_date\"\
      :null,\"close_date\":\"2022-02-09T16:02:32.699Z\",\"open_date\":\"2022-02-09T16:02:32.698Z\"\
      ,\"podcast_url\":null,\"mistake\":null,\"createdAt\":\"2022-02-09T16:02:32.699Z\"\
      ,\"updatedAt\":\"2022-02-09T16:02:32.963Z\",\"Posts\":[],\"User\":{\"title\"\
      :\"major\",\"guid\":\"82ea7953-cdfb-4a4d-a381-f2a39c87c401\",\"username\":\"\
      major\",\"lowercase\":\"major\",\"pfp\":\"https://assets.thetagang.com/pfps/major-1703160535646.jpg\"\
      ,\"flair\":\"\U0001F49C 400-streak 1\uFE0F\u20E38\uFE0F\u20E33\uFE0F\u20E3:\
      \ key\",\"ticker_message\":\"Only trade companies you truly love \U0001F495\"\
      ,\"bio\":\"My 2024 goals involve trading with just what's on the charts: price\
      \ and volume. I do some analysis and rambling over on thetanerd.com. \U0001F609\
      \",\"verified\":true,\"role\":\"patron\",\"last_active\":\"2024-03-05T18:12:08.485Z\"\
      ,\"streak_updated_at\":\"2024-03-05T00:23:08.427Z\",\"streak\":88,\"longest_streak\"\
      :88,\"createdAt\":\"2020-09-18T04:07:23.482Z\",\"updatedAt\":\"2024-03-05T18:12:08.485Z\"\
      },\"Actions\":[],\"Reactions\":[]},\"error\":null}"
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"6bf-29uSTGkCJVS3rkE81cTzruI6kho"
      Ratelimit-Limit:
      - '1000'
      Ratelimit-Remaining:
      - '987'
      Ratelimit-Reset:
      - '316'
    status_code: 200
version: 1
