interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://api.thetagang.com/trades/4db26360-e1d6-49c4-87c8-89f0643a150f
  response:
    body:
      string: '{"status":200,"data":{"trade":{"pl":0,"guid":"4db26360-e1d6-49c4-87c8-89f0643a150f","expiry_date":"2023-01-19T05:00:00.000Z","close_date":null,"open_date":"2023-01-18T16:58:57.651Z","symbol":"SPY","initial":false,"quantity":1,"type":"CALL
        DEBIT SPREAD","payment":"debit","win":null,"profitLoss":null,"user_guid":"203fb5da-eee6-4877-852d-6a3da9b5060a","tag":null,"short_put":null,"long_put":null,"short_call":"401","long_call":"400","price_filled":0.35,"price_closed":null,"open_quote":394.795,"close_quote":null,"assigned":null,"earnings":false,"tweet_id":null,"opened_during_market_hours":null,"closed_during_market_hours":null,"closed_before_expiration":null,"note":"Hoping
        it won''t have the momentum to pass 400","closing_note":null,"createdAt":"2023-01-18T16:58:57.651Z","updatedAt":"2023-01-18T16:58:58.514Z","Actions":[],"Posts":[],"User":{"username":"piotr91","flair":null,"role":"member","streak":1,"verified":null}}},"message":null}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"3ad-AIHYb5ygqHJfaFDYoXBQa4sm5C0"
      X-Ratelimit-Limit:
      - '500'
      X-Ratelimit-Remaining:
      - '498'
      X-Ratelimit-Reset:
      - '1689700251'
    status:
      code: 200
      message: OK
version: 1
