interactions:
- request:
    body: ''
    headers:
    method: GET
    uri: https://api3.thetagang.com/trades/025e664b-07f2-4735-a867-8884d8d8a68d
  response:
    content: "{\"status\":200,\"data\":{\"shares\":0,\"cost\":33,\"profitLoss\":\"\
      33\",\"guid\":\"025e664b-07f2-4735-a867-8884d8d8a68d\",\"user_guid\":\"82ea7953-cdfb-4a4d-a381-f2a39c87c401\"\
      ,\"symbol\":\"TSLA\",\"type\":\"CALL CREDIT SPREAD\",\"payment\":\"credit\"\
      ,\"short_call\":\"580\",\"short_call2\":null,\"long_call\":\"585\",\"long_call2\"\
      :null,\"short_put\":null,\"short_put2\":null,\"long_put\":null,\"long_put2\"\
      :null,\"quantity\":1,\"price_filled\":2.25,\"price_closed\":1.92,\"opened_during_market_hours\"\
      :null,\"closed_during_market_hours\":null,\"closed_before_expiration\":null,\"\
      tweet_id\":null,\"open_quote\":null,\"close_quote\":null,\"tag\":null,\"note\"\
      :\"Decided to make a bet against $TSLA since I've been bearish on the stock\
      \ and Michael Burry seems to be as well. This is about 55% PoP with a max gain\
      \ of $225 and a max loss of $275. \U0001F352\",\"closing_note\":\"\",\"earnings\"\
      :false,\"assigned\":false,\"win\":true,\"initial\":false,\"expiry_date\":\"\
      2021-06-18T05:00:00.000Z\",\"close_date\":\"2021-05-19T13:41:09.257Z\",\"open_date\"\
      :\"2021-05-17T19:36:59.238Z\",\"podcast_url\":null,\"mistake\":null,\"createdAt\"\
      :\"2021-05-17T19:36:59.239Z\",\"updatedAt\":\"2023-01-14T09:13:30.679Z\",\"\
      Posts\":[],\"User\":{\"title\":\"major\",\"guid\":\"82ea7953-cdfb-4a4d-a381-f2a39c87c401\"\
      ,\"username\":\"major\",\"lowercase\":\"major\",\"pfp\":\"https://assets.thetagang.com/pfps/major-1703160535646.jpg\"\
      ,\"flair\":\"\U0001F49C 400-streak 1\uFE0F\u20E38\uFE0F\u20E33\uFE0F\u20E3:\
      \ key\",\"ticker_message\":\"Only trade companies you truly love \U0001F495\"\
      ,\"bio\":\"My 2024 goals involve trading with just what's on the charts: price\
      \ and volume. I do some analysis and rambling over on thetanerd.com. \U0001F609\
      \",\"verified\":true,\"role\":\"patron\",\"last_active\":\"2024-03-05T18:12:08.485Z\"\
      ,\"streak_updated_at\":\"2024-03-05T00:23:08.427Z\",\"streak\":88,\"longest_streak\"\
      :88,\"createdAt\":\"2020-09-18T04:07:23.482Z\",\"updatedAt\":\"2024-03-05T18:12:08.485Z\"\
      },\"Actions\":[],\"Reactions\":[]},\"error\":null}"
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"70f-Q+QG4jxljbIBl7dHjBptfIXWx5U"
      Ratelimit-Limit:
      - '1000'
      Ratelimit-Remaining:
      - '993'
      Ratelimit-Reset:
      - '315'
    status_code: 200
version: 1
