interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://api.thetagang.com/trades/025e664b-07f2-4735-a867-8884d8d8a68d
  response:
    body:
      string: "{\"status\":200,\"data\":{\"trade\":{\"pl\":0.33000000000000007,\"guid\":\"025e664b-07f2-4735-a867-8884d8d8a68d\",\"expiry_date\":\"2021-06-18T05:00:00.000Z\",\"close_date\":\"2021-05-19T13:41:09.257Z\",\"open_date\":\"2021-05-17T19:36:59.238Z\",\"symbol\":\"TSLA\",\"initial\":false,\"quantity\":1,\"type\":\"CALL
        CREDIT SPREAD\",\"payment\":\"credit\",\"win\":true,\"profitLoss\":null,\"user_guid\":\"82ea7953-cdfb-4a4d-a381-f2a39c87c401\",\"tag\":null,\"short_put\":null,\"long_put\":null,\"short_call\":\"580\",\"long_call\":\"585\",\"price_filled\":2.25,\"price_closed\":1.92,\"open_quote\":null,\"close_quote\":null,\"assigned\":false,\"earnings\":false,\"tweet_id\":null,\"opened_during_market_hours\":null,\"closed_during_market_hours\":null,\"closed_before_expiration\":null,\"note\":\"Decided
        to make a bet against $TSLA since I've been bearish on the stock and Michael
        Burry seems to be as well. This is about 55% PoP with a max gain of $225 and
        a max loss of $275. \U0001F352\",\"closing_note\":\"\",\"createdAt\":\"2021-05-17T19:36:59.239Z\",\"updatedAt\":\"2023-01-14T09:13:30.679Z\",\"Actions\":[],\"Posts\":[],\"User\":{\"username\":\"major\",\"flair\":\"\U0001F49C
        400-streak 1\uFE0F\u20E38\uFE0F\u20E33\uFE0F\u20E3: key\",\"role\":\"patron\",\"streak\":44,\"verified\":true}}},\"message\":null}"
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"488-jYu0O/1y7Pg1ABzoITvUefGuCnE"
      X-Ratelimit-Limit:
      - '500'
      X-Ratelimit-Remaining:
      - '499'
      X-Ratelimit-Reset:
      - '1689700251'
    status:
      code: 200
      message: OK
version: 1
