interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://api3.thetagang.com/trades/4db26360-e1d6-49c4-87c8-89f0643a150f
  response:
    body:
      string: '{"status":200,"data":{"shares":0,"cost":0,"profitLoss":null,"guid":"4db26360-e1d6-49c4-87c8-89f0643a150f","user_guid":"203fb5da-eee6-4877-852d-6a3da9b5060a","symbol":"SPY","type":"CALL
        DEBIT SPREAD","payment":"debit","short_call":"401","short_call2":null,"long_call":"400","long_call2":null,"short_put":null,"short_put2":null,"long_put":null,"long_put2":null,"quantity":1,"price_filled":0.35,"price_closed":null,"opened_during_market_hours":null,"closed_during_market_hours":null,"closed_before_expiration":null,"tweet_id":null,"open_quote":394.795,"close_quote":null,"tag":null,"note":"Hoping
        it won''t have the momentum to pass 400","closing_note":null,"earnings":false,"assigned":null,"win":null,"initial":false,"expiry_date":"2023-01-19T05:00:00.000Z","close_date":null,"open_date":"2023-01-18T16:58:57.651Z","podcast_url":null,"mistake":null,"createdAt":"2023-01-18T16:58:57.651Z","updatedAt":"2023-01-18T16:58:58.514Z","Posts":[],"User":{"title":"piotr91","guid":"203fb5da-eee6-4877-852d-6a3da9b5060a","username":"piotr91","lowercase":"piotr91","pfp":null,"flair":null,"ticker_message":null,"bio":null,"verified":null,"role":"member","last_active":"2023-01-28T21:33:53.044Z","streak_updated_at":"2023-01-28T21:33:53.044Z","streak":1,"longest_streak":1,"createdAt":"2019-11-26T01:30:48.437Z","updatedAt":"2023-01-28T21:33:53.044Z"},"Actions":[],"Reactions":[]},"error":null}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"562-pukpoMnXLhGF9NWx44JqrEs0+m4"
      Ratelimit-Limit:
      - '1000'
      Ratelimit-Remaining:
      - '968'
      Ratelimit-Reset:
      - '509'
    status:
      code: 200
      message: OK
version: 1
