interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://api.thetagang.com/trades/c90e5d5d-8158-43d7-ba09-e6a0dbbf207c
  response:
    body:
      string: "{\"status\":200,\"data\":{\"trade\":{\"pl\":1.4,\"guid\":\"c90e5d5d-8158-43d7-ba09-e6a0dbbf207c\",\"expiry_date\":\"2022-02-18T06:00:00.000Z\",\"close_date\":\"2022-02-18T22:37:39.952Z\",\"open_date\":\"2022-02-10T15:59:16.409Z\",\"symbol\":\"SPY\",\"initial\":false,\"quantity\":1,\"type\":\"CASH
        SECURED PUT\",\"payment\":\"credit\",\"win\":true,\"profitLoss\":null,\"user_guid\":\"82ea7953-cdfb-4a4d-a381-f2a39c87c401\",\"tag\":null,\"short_put\":\"440\",\"long_put\":null,\"short_call\":null,\"long_call\":null,\"price_filled\":1.4,\"price_closed\":0,\"open_quote\":null,\"close_quote\":null,\"assigned\":true,\"earnings\":false,\"tweet_id\":null,\"opened_during_market_hours\":null,\"closed_during_market_hours\":null,\"closed_before_expiration\":null,\"note\":\"$SPY
        made a dip, so I decided to sell below the 200MA around 0.16 delta with 14.4%
        annualized return. Current cost basis is around $449 with 400 shares (200
        uncovered). \U0001F575\U0001F3FB\",\"closing_note\":\"$SPY fell to $433.75
        and I'm getting assigned here at $440 with a $438.60 breakeven. That's about
        a $485 loss, but $SPY was around $450 when I sold this put, so I managed to
        avoid around $1,000 of loss if I had just bought shares. At least this drops
        my cost basis a little. \U0001F643\",\"createdAt\":\"2022-02-10T15:59:16.409Z\",\"updatedAt\":\"2023-01-14T10:13:11.431Z\",\"Actions\":[],\"Posts\":[],\"User\":{\"username\":\"major\",\"flair\":\"\U0001F49C
        400-streak 1\uFE0F\u20E38\uFE0F\u20E33\uFE0F\u20E3: key\",\"role\":\"patron\",\"streak\":44,\"verified\":true}}},\"message\":null}"
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"57d-RNWnTLGzkqdCnV1paQ2Rzshe8ZE"
      X-Ratelimit-Limit:
      - '500'
      X-Ratelimit-Remaining:
      - '499'
      X-Ratelimit-Reset:
      - '1689700251'
    status:
      code: 200
      message: OK
version: 1
