interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://api3.thetagang.com/trades/2093163e-2d7b-424f-b007-51c46ace7bb4
  response:
    body:
      string: "{\"status\":200,\"data\":{\"shares\":0,\"cost\":65,\"profitLoss\":\"\
        65\",\"guid\":\"2093163e-2d7b-424f-b007-51c46ace7bb4\",\"user_guid\":\"82ea7953-cdfb-4a4d-a381-f2a39c87c401\"\
        ,\"symbol\":\"SPY\",\"type\":\"COVERED CALL\",\"payment\":\"credit\",\"short_call\"\
        :\"460\",\"short_call2\":null,\"long_call\":null,\"long_call2\":null,\"short_put\"\
        :null,\"short_put2\":null,\"long_put\":null,\"long_put2\":null,\"quantity\"\
        :1,\"price_filled\":1.3,\"price_closed\":0.65,\"opened_during_market_hours\"\
        :null,\"closed_during_market_hours\":null,\"closed_before_expiration\":null,\"\
        tweet_id\":null,\"open_quote\":null,\"close_quote\":null,\"tag\":null,\"note\"\
        :\"Just under 0.17 delta and 10.2% annualized return. Current cost basis for\
        \ $SPY is around $447 and it's at $449 today. \U0001F575\U0001F3FB Leaving\
        \ 100 shares uncovered.\",\"closing_note\":\"50% trigger\",\"earnings\":false,\"\
        assigned\":false,\"win\":true,\"initial\":false,\"expiry_date\":\"2022-02-18T06:00:00.000Z\"\
        ,\"close_date\":\"2022-02-11T18:47:41.184Z\",\"open_date\":\"2022-02-08T16:36:21.806Z\"\
        ,\"podcast_url\":null,\"mistake\":null,\"createdAt\":\"2022-02-08T16:36:21.806Z\"\
        ,\"updatedAt\":\"2023-01-14T10:12:14.989Z\",\"Posts\":[],\"User\":{\"title\"\
        :\"major\",\"guid\":\"82ea7953-cdfb-4a4d-a381-f2a39c87c401\",\"username\"\
        :\"major\",\"lowercase\":\"major\",\"pfp\":\"https://assets.thetagang.com/pfps/major-1703160535646.jpg\"\
        ,\"flair\":\"\U0001F49C 400-streak 1\uFE0F\u20E38\uFE0F\u20E33\uFE0F\u20E3\
        : key\",\"ticker_message\":\"Only trade companies you truly love \U0001F495\
        \",\"bio\":\"My 2024 goals involve trading with just what's on the charts:\
        \ price and volume. I do some analysis and rambling over on thetanerd.com.\
        \ \U0001F609\",\"verified\":true,\"role\":\"patron\",\"last_active\":\"2024-03-05T14:25:17.490Z\"\
        ,\"streak_updated_at\":\"2024-03-05T00:23:08.427Z\",\"streak\":88,\"longest_streak\"\
        :88,\"createdAt\":\"2020-09-18T04:07:23.482Z\",\"updatedAt\":\"2024-03-05T14:25:17.490Z\"\
        },\"Actions\":[],\"Reactions\":[]},\"error\":null}"
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"6f3-fHh+rbxIRKImt3T+jzD3R2h/Fwk"
      Ratelimit-Limit:
      - '1000'
      Ratelimit-Remaining:
      - '988'
      Ratelimit-Reset:
      - '504'
    status:
      code: 200
      message: OK
version: 1
