interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://api.thetagang.com/trades/2093163e-2d7b-424f-b007-51c46ace7bb4
  response:
    body:
      string: "{\"status\":200,\"data\":{\"trade\":{\"pl\":0.65,\"guid\":\"2093163e-2d7b-424f-b007-51c46ace7bb4\",\"expiry_date\":\"2022-02-18T06:00:00.000Z\",\"close_date\":\"2022-02-11T18:47:41.184Z\",\"open_date\":\"2022-02-08T16:36:21.806Z\",\"symbol\":\"SPY\",\"initial\":false,\"quantity\":1,\"type\":\"COVERED
        CALL\",\"payment\":\"credit\",\"win\":true,\"profitLoss\":null,\"user_guid\":\"82ea7953-cdfb-4a4d-a381-f2a39c87c401\",\"tag\":null,\"short_put\":null,\"long_put\":null,\"short_call\":\"460\",\"long_call\":null,\"price_filled\":1.3,\"price_closed\":0.65,\"open_quote\":null,\"close_quote\":null,\"assigned\":false,\"earnings\":false,\"tweet_id\":null,\"opened_during_market_hours\":null,\"closed_during_market_hours\":null,\"closed_before_expiration\":null,\"note\":\"Just
        under 0.17 delta and 10.2% annualized return. Current cost basis for $SPY
        is around $447 and it's at $449 today. \U0001F575\U0001F3FB Leaving 100 shares
        uncovered.\",\"closing_note\":\"50% trigger\",\"createdAt\":\"2022-02-08T16:36:21.806Z\",\"updatedAt\":\"2023-01-14T10:12:14.989Z\",\"Actions\":[],\"Posts\":[],\"User\":{\"username\":\"major\",\"flair\":\"\U0001F49C
        400-streak 1\uFE0F\u20E38\uFE0F\u20E33\uFE0F\u20E3: key\",\"role\":\"patron\",\"streak\":44,\"verified\":true}}},\"message\":null}"
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"45d-+C2QP5uyXSIRieKrd2Ppq9lhv0s"
      X-Ratelimit-Limit:
      - '500'
      X-Ratelimit-Remaining:
      - '499'
      X-Ratelimit-Reset:
      - '1689700251'
    status:
      code: 200
      message: OK
version: 1
