interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://api3.thetagang.com/trades/7b2834c0-51a8-42ae-9c00-23dd9af79b37
  response:
    body:
      string: '{"status":200,"data":{"shares":0,"cost":130,"profitLoss":"130","guid":"7b2834c0-51a8-42ae-9c00-23dd9af79b37","user_guid":"b5558539-ce6c-4aff-bd6e-c4415c2a5fa3","symbol":"SOFI","type":"JADE
        LIZARD","payment":"credit","short_call":"6.5","short_call2":null,"long_call":"6","long_call2":null,"short_put":"5.5","short_put2":null,"long_put":null,"long_put2":null,"quantity":10,"price_filled":0.63,"price_closed":0.5,"opened_during_market_hours":null,"closed_during_market_hours":null,"closed_before_expiration":null,"tweet_id":null,"open_quote":5.61,"close_quote":6.77,"tag":null,"note":"Earnings
        coming up. All indications are it will be a win again and the stock will spike.
        I think the downside risk is minimal, but if I get assigned on the puts my
        cost would be 4.87 which is fine.","closing_note":"","earnings":false,"assigned":false,"win":true,"initial":false,"expiry_date":"2023-03-03T05:00:00.000Z","close_date":"2023-01-30T14:33:07.202Z","open_date":"2023-01-17T15:41:38.315Z","podcast_url":null,"mistake":null,"createdAt":"2023-01-17T15:41:38.315Z","updatedAt":"2023-01-30T14:33:07.447Z","Posts":[],"User":{"title":"wallapuctus","guid":"b5558539-ce6c-4aff-bd6e-c4415c2a5fa3","username":"wallapuctus","lowercase":"wallapuctus","pfp":null,"flair":null,"ticker_message":null,"bio":null,"verified":null,"role":"member","last_active":"2024-01-31T18:19:12.043Z","streak_updated_at":"2024-01-31T08:48:59.036Z","streak":2,"longest_streak":5,"createdAt":"2021-05-02T14:05:25.252Z","updatedAt":"2024-01-31T18:19:12.043Z"},"Actions":[],"Reactions":[]},"error":null}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"616-HodQuMMEQ5Jc3Oj08SdK5gNrKJ8"
      Ratelimit-Limit:
      - '1000'
      Ratelimit-Remaining:
      - '990'
      Ratelimit-Reset:
      - '501'
    status:
      code: 200
      message: OK
version: 1
