interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://api.thetagang.com/trades/7b2834c0-51a8-42ae-9c00-23dd9af79b37
  response:
    body:
      string: '{"status":200,"data":{"trade":{"pl":1.3,"guid":"7b2834c0-51a8-42ae-9c00-23dd9af79b37","expiry_date":"2023-03-03T05:00:00.000Z","close_date":"2023-01-30T14:33:07.202Z","open_date":"2023-01-17T15:41:38.315Z","symbol":"SOFI","initial":false,"quantity":10,"type":"JADE
        LIZARD","payment":"credit","win":true,"profitLoss":null,"user_guid":"b5558539-ce6c-4aff-bd6e-c4415c2a5fa3","tag":null,"short_put":"5.5","long_put":null,"short_call":"6.5","long_call":"6","price_filled":0.63,"price_closed":0.5,"open_quote":5.61,"close_quote":6.77,"assigned":false,"earnings":false,"tweet_id":null,"opened_during_market_hours":null,"closed_during_market_hours":null,"closed_before_expiration":null,"note":"Earnings
        coming up. All indications are it will be a win again and the stock will spike.
        I think the downside risk is minimal, but if I get assigned on the puts my
        cost would be 4.87 which is fine.","closing_note":"","createdAt":"2023-01-17T15:41:38.315Z","updatedAt":"2023-01-30T14:33:07.447Z","Actions":[],"Posts":[],"User":{"username":"wallapuctus","flair":null,"role":"member","streak":1,"verified":null}}},"message":null}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"458-3yz978aud9ulRtWGf0d1v2u0Nhs"
      X-Ratelimit-Limit:
      - '500'
      X-Ratelimit-Remaining:
      - '499'
      X-Ratelimit-Reset:
      - '1689700251'
    status:
      code: 200
      message: OK
version: 1
