interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://api.thetagang.com/trades/0ae1568e-012e-4ae2-b1da-845de50a895e
  response:
    body:
      string: '{"status":200,"data":{"trade":{"pl":5.8500000000000005,"guid":"0ae1568e-012e-4ae2-b1da-845de50a895e","expiry_date":"2023-02-10T08:00:00.000Z","close_date":"2023-01-27T19:40:49.344Z","open_date":"2023-01-17T19:57:15.434Z","symbol":"APPS","initial":false,"quantity":15,"type":"LONG
        NAKED CALL","payment":"debit","win":true,"profitLoss":null,"user_guid":"7529dd7f-5d73-4956-aa3d-735509409e7e","tag":null,"short_put":null,"long_put":null,"short_call":null,"long_call":"19","price_filled":0.63,"price_closed":1.02,"open_quote":16.5,"close_quote":17.77,"assigned":false,"earnings":false,"tweet_id":null,"opened_during_market_hours":null,"closed_during_market_hours":null,"closed_before_expiration":null,"note":null,"closing_note":"","createdAt":"2023-01-17T19:57:15.434Z","updatedAt":"2023-01-27T19:40:49.545Z","Actions":[],"Posts":[],"User":{"username":"dom747","flair":null,"role":"member","streak":2,"verified":null}}},"message":null}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"3a3-PydbA+0BK6Umr7G11e3YpeLLg7Y"
      X-Ratelimit-Limit:
      - '500'
      X-Ratelimit-Remaining:
      - '499'
      X-Ratelimit-Reset:
      - '1689700251'
    status:
      code: 200
      message: OK
version: 1
