interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://api.thetagang.com/trades/372fd62c-ff16-41e9-93e8-84621846eb9d
  response:
    body:
      string: '{"status":200,"data":{"trade":{"pl":0,"guid":"372fd62c-ff16-41e9-93e8-84621846eb9d","expiry_date":"2024-03-15T00:00:00.000Z","close_date":null,"open_date":"2023-12-04T19:48:47.000Z","symbol":"PLTR","initial":null,"quantity":1,"type":"LONG
        CALL","payment":"debit","win":null,"profitLoss":null,"user_guid":"c7f79aac-53df-422b-ab03-be16cb1d1745","tag":null,"short_put":"","long_put":"","short_call":"","long_call":"23","price_filled":1.05,"price_closed":null,"open_quote":null,"close_quote":null,"assigned":null,"earnings":false,"tweet_id":null,"opened_during_market_hours":null,"closed_during_market_hours":null,"closed_before_expiration":null,"note":"","closing_note":null,"createdAt":"2023-12-04T19:48:47.287Z","updatedAt":"2023-12-04T19:48:47.287Z","Actions":[],"Posts":[],"User":{"username":"jcvalhalla","flair":null,"role":"member","streak":3,"verified":null}}},"message":null}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"370-t+MDKiw+q+cgxeYSn6KAfs3A5Rc"
      X-Ratelimit-Limit:
      - '500'
      X-Ratelimit-Remaining:
      - '499'
      X-Ratelimit-Reset:
      - '1701969974'
    status:
      code: 200
      message: OK
version: 1
