interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://api.thetagang.com/trades/d89103e6-263f-4bd8-983c-39e399512b1e
  response:
    body:
      string: '{"status":200,"data":{"trade":{"pl":0,"guid":"d89103e6-263f-4bd8-983c-39e399512b1e","expiry_date":"2024-01-19T00:00:00.000Z","close_date":null,"open_date":"2023-11-30T22:16:34.000Z","symbol":"PLTR","initial":null,"quantity":1,"type":"LONG
        PUT","payment":"debit","win":null,"profitLoss":null,"user_guid":"9d0bd6d1-b1ed-448a-9802-367e4801105a","tag":null,"short_put":"","long_put":"13","short_call":"","long_call":"","price_filled":0.9,"price_closed":null,"open_quote":null,"close_quote":null,"assigned":null,"earnings":false,"tweet_id":null,"opened_during_market_hours":null,"closed_during_market_hours":null,"closed_before_expiration":null,"note":"","closing_note":null,"createdAt":"2023-11-30T22:16:34.016Z","updatedAt":"2023-11-30T22:16:34.016Z","Actions":[],"Posts":[],"User":{"username":"Luk77e","flair":null,"role":"member","streak":5,"verified":null}}},"message":null}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"36a-Aug4qSOet+6CMAv3KnqcE8cO4o4"
      X-Ratelimit-Limit:
      - '500'
      X-Ratelimit-Remaining:
      - '499'
      X-Ratelimit-Reset:
      - '1701970874'
    status:
      code: 200
      message: OK
version: 1
