interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://api.thetagang.com/trades/19a3beee-95e9-4c19-ab1d-712793f3eeaf
  response:
    body:
      string: "{\"status\":200,\"data\":{\"trade\":{\"pl\":-0.25,\"guid\":\"19a3beee-95e9-4c19-ab1d-712793f3eeaf\",\"expiry_date\":\"2022-11-11T06:00:00.000Z\",\"close_date\":\"2022-11-14T12:40:47.115Z\",\"open_date\":\"2022-11-11T20:18:00.744Z\",\"symbol\":\"SPY\",\"initial\":false,\"quantity\":1,\"type\":\"LONG
        NAKED PUT\",\"payment\":\"debit\",\"win\":false,\"profitLoss\":null,\"user_guid\":\"82ea7953-cdfb-4a4d-a381-f2a39c87c401\",\"tag\":null,\"short_put\":null,\"long_put\":\"396\",\"short_call\":null,\"long_call\":null,\"price_filled\":0.25,\"price_closed\":0,\"open_quote\":397.66,\"close_quote\":398.51,\"assigned\":false,\"earnings\":false,\"tweet_id\":null,\"opened_during_market_hours\":null,\"closed_during_market_hours\":null,\"closed_before_expiration\":null,\"note\":\"0
        DTE for science. \U0001F9EA\",\"closing_note\":\"\",\"createdAt\":\"2022-11-11T20:18:00.744Z\",\"updatedAt\":\"2023-01-14T10:26:40.495Z\",\"Actions\":[],\"Posts\":[],\"User\":{\"username\":\"major\",\"flair\":\"\U0001F49C
        400-streak 1\uFE0F\u20E38\uFE0F\u20E33\uFE0F\u20E3: key\",\"role\":\"patron\",\"streak\":44,\"verified\":true}}},\"message\":null}"
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"3d2-NN2HhizxwP1J9WcFg90bIynLBqs"
      X-Ratelimit-Limit:
      - '500'
      X-Ratelimit-Remaining:
      - '499'
      X-Ratelimit-Reset:
      - '1689700251'
    status:
      code: 200
      message: OK
version: 1
