interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://api.thetagang.com/trades/96975bff-9962-462d-84b4-acf9236c442a
  response:
    body:
      string: '{"status":200,"data":{"trade":{"pl":0.2200000000000002,"guid":"96975bff-9962-462d-84b4-acf9236c442a","expiry_date":"2023-01-20T06:00:00.000Z","close_date":"2023-01-20T15:06:54.462Z","open_date":"2023-01-18T20:36:15.693Z","symbol":"AA","initial":false,"quantity":1,"type":"LONG
        STRANGLE","payment":"debit","win":true,"profitLoss":null,"user_guid":"26da488d-b077-4125-8341-a3cf613feff6","tag":null,"short_put":null,"long_put":"53","short_call":null,"long_call":"55","price_filled":3.44,"price_closed":3.66,"open_quote":53.32,"close_quote":50.29,"assigned":false,"earnings":true,"tweet_id":null,"opened_during_market_hours":null,"closed_during_market_hours":null,"closed_before_expiration":null,"note":null,"closing_note":"Bailed
        1 day too soon.  Had a profit & didn''t want to temp jumping into expiration
        day.","createdAt":"2023-01-18T20:36:15.694Z","updatedAt":"2023-01-20T15:06:54.903Z","Actions":[],"Posts":[],"User":{"username":"TCB47","flair":null,"role":"member","streak":2,"verified":null}}},"message":null}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"3f4-jrDUF8n2ZEw3QHEk84g0jXj8VvE"
      X-Ratelimit-Limit:
      - '500'
      X-Ratelimit-Remaining:
      - '498'
      X-Ratelimit-Reset:
      - '1689700251'
    status:
      code: 200
      message: OK
version: 1
