interactions:
  - request:
      body: ""
      headers:
      method: GET
      uri: https://api3.thetagang.com/trades/d89103e6-263f-4bd8-983c-39e399512b1e
    response:
      content:
        '{"status":200,"data":{"shares":0,"cost":0,"profitLoss":null,"guid":"d89103e6-263f-4bd8-983c-39e399512b1e","user_guid":"9d0bd6d1-b1ed-448a-9802-367e4801105a","symbol":"PLTR","type":"LONG
        PUT","payment":"debit","short_call":"","short_call2":"","long_call":"","long_call2":"","short_put":"","short_put2":"","long_put":"13","long_put2":"","quantity":1,"price_filled":0.09,"price_closed":null,"opened_during_market_hours":null,"closed_during_market_hours":null,"closed_before_expiration":null,"tweet_id":null,"open_quote":null,"close_quote":null,"tag":null,"note":"","closing_note":null,"earnings":false,"assigned":null,"win":null,"initial":null,"expiry_date":"2024-01-19T00:00:00.000Z","close_date":null,"open_date":"2023-11-30T22:16:34.000Z","podcast_url":null,"mistake":null,"createdAt":"2023-11-30T22:16:34.016Z","updatedAt":"2023-12-16T11:57:46.630Z","Posts":[],"User":{"title":"Luk77e","guid":"9d0bd6d1-b1ed-448a-9802-367e4801105a","username":"Luk77e","lowercase":"luk77e","pfp":null,"flair":null,"ticker_message":null,"bio":null,"verified":null,"role":"member","last_active":"2024-01-08T14:34:02.402Z","streak_updated_at":"2024-01-08T15:34:01.168Z","streak":1,"longest_streak":12,"createdAt":"2023-09-13T17:57:09.665Z","updatedAt":"2024-01-08T14:34:02.402Z"},"Actions":[{"guid":"f9bfeedd-89fd-46d4-bcb3-5038db95b477","type":"edit","field":"Price
        Filled","from":"0.9","to":"0.09","trade_guid":"d89103e6-263f-4bd8-983c-39e399512b1e","user_guid":null,"createdAt":"2023-12-16T11:57:46.566Z","updatedAt":"2023-12-16T11:57:46.566Z"}],"Reactions":[]},"error":null}'
      headers:
        Content-Type:
          - application/json; charset=utf-8
        Etag:
          - W/"617-HxjphM9Cgh3iXoPKtn0UyenCrZI"
        Ratelimit-Limit:
          - "1000"
        Ratelimit-Remaining:
          - "998"
        Ratelimit-Reset:
          - "314"
      status_code: 200
version: 1
