interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://api3.thetagang.com/trades/e3c567b4-cad4-4fea-8114-5bef5b5e0d1f
  response:
    body:
      string: '{"status":200,"data":{"shares":0,"cost":-64,"profitLoss":"-64","guid":"e3c567b4-cad4-4fea-8114-5bef5b5e0d1f","user_guid":"26da488d-b077-4125-8341-a3cf613feff6","symbol":"UAL","type":"LONG
        STRADDLE","payment":"debit","short_call":null,"short_call2":null,"long_call":"50","long_call2":null,"short_put":null,"short_put2":null,"long_put":"50","long_put2":null,"quantity":1,"price_filled":3.17,"price_closed":2.53,"opened_during_market_hours":null,"closed_during_market_hours":null,"closed_before_expiration":null,"tweet_id":null,"open_quote":51.115,"close_quote":50.12,"tag":null,"note":"Earnings
        release tomorrow.","closing_note":"No surprises.  crap","earnings":true,"assigned":false,"win":false,"initial":false,"expiry_date":"2023-01-20T06:00:00.000Z","close_date":"2023-01-18T16:28:53.915Z","open_date":"2023-01-17T20:06:24.932Z","podcast_url":null,"mistake":null,"createdAt":"2023-01-17T20:06:24.933Z","updatedAt":"2023-01-18T16:28:54.176Z","Posts":[],"User":{"title":"TCB47","guid":"26da488d-b077-4125-8341-a3cf613feff6","username":"TCB47","lowercase":"tcb47","pfp":null,"flair":null,"ticker_message":null,"bio":"I
        concentrate on CSPs, long calls & puts.  When my Level 3 application is approved,
        I will occasionally sell the naked put on SPX when the market trends up.\n","verified":null,"role":"member","last_active":"2023-04-06T13:50:12.235Z","streak_updated_at":"2023-04-05T14:38:37.308Z","streak":2,"longest_streak":1,"createdAt":"2021-11-21T04:09:39.390Z","updatedAt":"2023-04-06T13:50:12.235Z"},"Actions":[],"Reactions":[]},"error":null}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"60a-PixhqZx7WIhxOC8vkZy4iMG9+u0"
      Ratelimit-Limit:
      - '1000'
      Ratelimit-Remaining:
      - '997'
      Ratelimit-Reset:
      - '499'
    status:
      code: 200
      message: OK
version: 1
