interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://api3.thetagang.com/trades/372fd62c-ff16-41e9-93e8-84621846eb9d
  response:
    body:
      string: '{"status":200,"data":{"shares":0,"cost":145,"profitLoss":"145","guid":"372fd62c-ff16-41e9-93e8-84621846eb9d","user_guid":"c7f79aac-53df-422b-ab03-be16cb1d1745","symbol":"PLTR","type":"LONG
        CALL","payment":"debit","short_call":"","short_call2":"","long_call":"23","long_call2":"","short_put":"","short_put2":"","long_put":"","long_put2":"","quantity":1,"price_filled":1.05,"price_closed":2.5,"opened_during_market_hours":null,"closed_during_market_hours":null,"closed_before_expiration":null,"tweet_id":null,"open_quote":null,"close_quote":null,"tag":null,"note":"","closing_note":"","earnings":false,"assigned":false,"win":true,"initial":null,"expiry_date":"2024-03-15T00:00:00.000Z","close_date":"2024-02-08T15:13:11.000Z","open_date":"2023-12-04T19:48:47.000Z","podcast_url":null,"mistake":false,"createdAt":"2023-12-04T19:48:47.287Z","updatedAt":"2024-02-08T15:13:11.035Z","Posts":[],"User":{"title":"jcvalhalla","guid":"c7f79aac-53df-422b-ab03-be16cb1d1745","username":"jcvalhalla","lowercase":"jcvalhalla","pfp":null,"flair":null,"ticker_message":null,"bio":null,"verified":null,"role":"member","last_active":"2024-03-01T16:56:40.975Z","streak_updated_at":"2024-03-01T11:56:40.185Z","streak":1,"longest_streak":5,"createdAt":"2023-08-31T20:58:30.871Z","updatedAt":"2024-03-01T16:56:40.975Z"},"Actions":[],"Reactions":[]},"error":null}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"53b-WSiQrWiZwqhOOT5sXvuwdFIgDjw"
      Ratelimit-Limit:
      - '1000'
      Ratelimit-Remaining:
      - '968'
      Ratelimit-Reset:
      - '507'
    status:
      code: 200
      message: OK
version: 1
