interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://api.thetagang.com/trades/e3c567b4-cad4-4fea-8114-5bef5b5e0d1f
  response:
    body:
      string: '{"status":200,"data":{"trade":{"pl":-0.6400000000000001,"guid":"e3c567b4-cad4-4fea-8114-5bef5b5e0d1f","expiry_date":"2023-01-20T06:00:00.000Z","close_date":"2023-01-18T16:28:53.915Z","open_date":"2023-01-17T20:06:24.932Z","symbol":"UAL","initial":false,"quantity":1,"type":"LONG
        STRADDLE","payment":"debit","win":false,"profitLoss":null,"user_guid":"26da488d-b077-4125-8341-a3cf613feff6","tag":null,"short_put":null,"long_put":"50","short_call":null,"long_call":"50","price_filled":3.17,"price_closed":2.53,"open_quote":51.115,"close_quote":50.12,"assigned":false,"earnings":true,"tweet_id":null,"opened_during_market_hours":null,"closed_during_market_hours":null,"closed_before_expiration":null,"note":"Earnings
        release tomorrow.","closing_note":"No surprises.  crap","createdAt":"2023-01-17T20:06:24.933Z","updatedAt":"2023-01-18T16:28:54.176Z","Actions":[],"Posts":[],"User":{"username":"TCB47","flair":null,"role":"member","streak":2,"verified":null}}},"message":null}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"3cc-w59ieQI6GYzI2XyIrziRJK+DFO0"
      X-Ratelimit-Limit:
      - '500'
      X-Ratelimit-Remaining:
      - '499'
      X-Ratelimit-Reset:
      - '1689700251'
    status:
      code: 200
      message: OK
version: 1
