interactions:
- request:
    body: ''
    headers:
    method: GET
    uri: https://api3.thetagang.com/trades/e97a14ee-8d1a-49d8-94c3-36813908d156
  response:
    content: "{\"status\":200,\"data\":{\"shares\":0,\"cost\":-351,\"profitLoss\"\
      :\"-351\",\"guid\":\"e97a14ee-8d1a-49d8-94c3-36813908d156\",\"user_guid\":\"\
      82ea7953-cdfb-4a4d-a381-f2a39c87c401\",\"symbol\":\"AMD\",\"type\":\"PUT CREDIT\
      \ SPREAD\",\"payment\":\"credit\",\"short_call\":null,\"short_call2\":null,\"\
      long_call\":null,\"long_call2\":null,\"short_put\":\"150\",\"short_put2\":null,\"\
      long_put\":\"145\",\"long_put2\":null,\"quantity\":1,\"price_filled\":1.49,\"\
      price_closed\":5,\"opened_during_market_hours\":null,\"closed_during_market_hours\"\
      :null,\"closed_before_expiration\":null,\"tweet_id\":null,\"open_quote\":null,\"\
      close_quote\":null,\"tag\":null,\"note\":\"72% PoP. Still bullish on $AMD but\
      \ I'd like to cap potential losses with the market swings lately.\",\"closing_note\"\
      :\"Ouch. \U0001F915\",\"earnings\":false,\"assigned\":false,\"win\":false,\"\
      initial\":false,\"expiry_date\":\"2021-12-17T06:00:00.000Z\",\"close_date\"\
      :\"2021-12-17T20:26:40.348Z\",\"open_date\":\"2021-11-30T18:50:09.776Z\",\"\
      podcast_url\":null,\"mistake\":null,\"createdAt\":\"2021-11-30T18:50:09.777Z\"\
      ,\"updatedAt\":\"2023-01-14T10:05:32.341Z\",\"Posts\":[],\"User\":{\"title\"\
      :\"major\",\"guid\":\"82ea7953-cdfb-4a4d-a381-f2a39c87c401\",\"username\":\"\
      major\",\"lowercase\":\"major\",\"pfp\":\"https://assets.thetagang.com/pfps/major-1703160535646.jpg\"\
      ,\"flair\":\"\U0001F49C 400-streak 1\uFE0F\u20E38\uFE0F\u20E33\uFE0F\u20E3:\
      \ key\",\"ticker_message\":\"Only trade companies you truly love \U0001F495\"\
      ,\"bio\":\"My 2024 goals involve trading with just what's on the charts: price\
      \ and volume. I do some analysis and rambling over on thetanerd.com. \U0001F609\
      \",\"verified\":true,\"role\":\"patron\",\"last_active\":\"2024-03-05T18:12:08.485Z\"\
      ,\"streak_updated_at\":\"2024-03-05T00:23:08.427Z\",\"streak\":88,\"longest_streak\"\
      :88,\"createdAt\":\"2020-09-18T04:07:23.482Z\",\"updatedAt\":\"2024-03-05T18:12:08.485Z\"\
      },\"Actions\":[],\"Reactions\":[]},\"error\":null}"
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"6c1-OBG8ZGuS5Xx36HG3bnLkPfzxBo0"
      Ratelimit-Limit:
      - '1000'
      Ratelimit-Remaining:
      - '943'
      Ratelimit-Reset:
      - '317'
    status_code: 200
version: 1
