interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://api.thetagang.com/trades/44ef4b2a-467e-4cd0-8f84-9dfa1766dca9
  response:
    body:
      string: '{"status":200,"data":{"trade":{"pl":1.3399999999999999,"guid":"44ef4b2a-467e-4cd0-8f84-9dfa1766dca9","expiry_date":"2023-03-16T17:00:00.000Z","close_date":"2023-02-02T17:12:58.426Z","open_date":"2023-01-18T17:24:28.649Z","symbol":"AIG","initial":false,"quantity":1,"type":"PUT
        DEBIT SPREAD","payment":"debit","win":true,"profitLoss":null,"user_guid":"8667df67-8610-4303-a175-021039315a8c","tag":null,"short_put":"57.5","long_put":"62.5","short_call":null,"long_call":null,"price_filled":1.48,"price_closed":2.82,"open_quote":62.935,"close_quote":58.98,"assigned":false,"earnings":false,"tweet_id":null,"opened_during_market_hours":null,"closed_during_market_hours":null,"closed_before_expiration":null,"note":"Pre-emptively
        rolling my position thats about to expire","closing_note":"","createdAt":"2023-01-18T17:24:28.650Z","updatedAt":"2023-02-02T17:12:58.663Z","Actions":[{"guid":"768f8156-5b5d-45be-ab40-f0266c1fb320","type":"edit","field":"Price
        Filled","from":"1.43","to":"1.48","createdAt":"2023-01-18T17:34:30.089Z","updatedAt":"2023-01-18T17:34:30.367Z","trade_guid":"44ef4b2a-467e-4cd0-8f84-9dfa1766dca9","user_guid":"8667df67-8610-4303-a175-021039315a8c"}],"Posts":[{"guid":"b61f0b04-f67e-4c5a-a6bc-a4ea9c0a43a3","user_guid":"8667df67-8610-4303-a175-021039315a8c","count":0,"text":"Input
        the incorrect fill price","createdAt":"2023-01-18T17:34:51.785Z","updatedAt":"2023-01-18T17:34:52.111Z","trade_guid":"44ef4b2a-467e-4cd0-8f84-9dfa1766dca9","User":{"username":"jrue","flair":null,"role":"member","streak":2,"verified":true}}],"User":{"username":"jrue","flair":null,"role":"member","streak":2,"verified":true}}},"message":null}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"667-oKE5epY5JtZyC9a3VWDsYtIM+A4"
      X-Ratelimit-Limit:
      - '500'
      X-Ratelimit-Remaining:
      - '499'
      X-Ratelimit-Reset:
      - '1689700251'
    status:
      code: 200
      message: OK
version: 1
