interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://api.thetagang.com/trades/e97a14ee-8d1a-49d8-94c3-36813908d156
  response:
    body:
      string: "{\"status\":200,\"data\":{\"trade\":{\"pl\":-3.51,\"guid\":\"e97a14ee-8d1a-49d8-94c3-36813908d156\",\"expiry_date\":\"2021-12-17T06:00:00.000Z\",\"close_date\":\"2021-12-17T20:26:40.348Z\",\"open_date\":\"2021-11-30T18:50:09.776Z\",\"symbol\":\"AMD\",\"initial\":false,\"quantity\":1,\"type\":\"PUT
        CREDIT SPREAD\",\"payment\":\"credit\",\"win\":false,\"profitLoss\":null,\"user_guid\":\"82ea7953-cdfb-4a4d-a381-f2a39c87c401\",\"tag\":null,\"short_put\":\"150\",\"long_put\":\"145\",\"short_call\":null,\"long_call\":null,\"price_filled\":1.49,\"price_closed\":5,\"open_quote\":null,\"close_quote\":null,\"assigned\":false,\"earnings\":false,\"tweet_id\":null,\"opened_during_market_hours\":null,\"closed_during_market_hours\":null,\"closed_before_expiration\":null,\"note\":\"72%
        PoP. Still bullish on $AMD but I'd like to cap potential losses with the market
        swings lately.\",\"closing_note\":\"Ouch. \U0001F915\",\"createdAt\":\"2021-11-30T18:50:09.777Z\",\"updatedAt\":\"2023-01-14T10:05:32.341Z\",\"Actions\":[],\"Posts\":[],\"User\":{\"username\":\"major\",\"flair\":\"\U0001F49C
        400-streak 1\uFE0F\u20E38\uFE0F\u20E33\uFE0F\u20E3: key\",\"role\":\"patron\",\"streak\":44,\"verified\":true}}},\"message\":null}"
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"428-irMnnBesyN0Upmiv3yBqDgoBMao"
      X-Ratelimit-Limit:
      - '500'
      X-Ratelimit-Remaining:
      - '499'
      X-Ratelimit-Reset:
      - '1689700251'
    status:
      code: 200
      message: OK
version: 1
