interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://api.thetagang.com/trades/a2a46a7f-1c7c-4328-98d7-32b900af98c1
  response:
    body:
      string: "{\"status\":200,\"data\":{\"trade\":{\"pl\":0,\"guid\":\"a2a46a7f-1c7c-4328-98d7-32b900af98c1\",\"expiry_date\":null,\"close_date\":\"2022-02-01T15:23:19.487Z\",\"open_date\":\"2022-02-01T15:23:19.487Z\",\"symbol\":\"NKE\",\"initial\":false,\"quantity\":100,\"type\":\"SELL
        COMMON STOCK\",\"payment\":\"credit\",\"win\":null,\"profitLoss\":null,\"user_guid\":\"82ea7953-cdfb-4a4d-a381-f2a39c87c401\",\"tag\":null,\"short_put\":null,\"long_put\":null,\"short_call\":null,\"long_call\":null,\"price_filled\":147.7,\"price_closed\":null,\"open_quote\":null,\"close_quote\":null,\"assigned\":false,\"earnings\":false,\"tweet_id\":null,\"opened_during_market_hours\":null,\"closed_during_market_hours\":null,\"closed_before_expiration\":null,\"note\":\"Looking
        to focus on fewer tickers. Made a small profit here.\",\"closing_note\":null,\"createdAt\":\"2022-02-01T15:23:19.487Z\",\"updatedAt\":\"2022-02-01T15:23:19.748Z\",\"Actions\":[],\"Posts\":[],\"User\":{\"username\":\"major\",\"flair\":\"\U0001F49C
        400-streak 1\uFE0F\u20E38\uFE0F\u20E33\uFE0F\u20E3: key\",\"role\":\"patron\",\"streak\":44,\"verified\":true}}},\"message\":null}"
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"3e3-CV3Mr13B77bUHn31Rw751zrPikA"
      X-Ratelimit-Limit:
      - '500'
      X-Ratelimit-Remaining:
      - '499'
      X-Ratelimit-Reset:
      - '1689700251'
    status:
      code: 200
      message: OK
version: 1
