interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://api.thetagang.com/trades/3eb1d57f-a720-41a9-ab54-27458ecee21f
  response:
    body:
      string: '{"status":200,"data":{"trade":{"pl":0.4400000000000004,"guid":"3eb1d57f-a720-41a9-ab54-27458ecee21f","expiry_date":"2023-02-02T17:00:00.000Z","close_date":"2023-01-27T21:11:26.075Z","open_date":"2023-01-18T17:19:02.236Z","symbol":"PYPL","initial":false,"quantity":1,"type":"SHORT
        STRADDLE","payment":"credit","win":true,"profitLoss":null,"user_guid":"8667df67-8610-4303-a175-021039315a8c","tag":null,"short_put":"78","long_put":null,"short_call":"78","long_call":null,"price_filled":5.49,"price_closed":5.05,"open_quote":77.8,"close_quote":81.87,"assigned":false,"earnings":false,"tweet_id":null,"opened_during_market_hours":null,"closed_during_market_hours":null,"closed_before_expiration":null,"note":"Rolling
        position out in time. Now have a truly delta neutral straddle which I''m good
        with given that 1) this expires prior to earnings and 2) PYPL has been pretty
        range bound between 70 and 85ish","closing_note":"","createdAt":"2023-01-18T17:19:02.236Z","updatedAt":"2023-01-27T21:11:26.378Z","Actions":[],"Posts":[],"User":{"username":"jrue","flair":null,"role":"member","streak":2,"verified":true}}},"message":null}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"461-jMM26niH3EdGHhmYIRiqgoHiuQE"
      X-Ratelimit-Limit:
      - '500'
      X-Ratelimit-Remaining:
      - '499'
      X-Ratelimit-Reset:
      - '1689700251'
    status:
      code: 200
      message: OK
version: 1
