interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://api3.thetagang.com/trades/3eb1d57f-a720-41a9-ab54-27458ecee21f
  response:
    body:
      string: '{"status":200,"data":{"shares":0,"cost":44,"profitLoss":"44","guid":"3eb1d57f-a720-41a9-ab54-27458ecee21f","user_guid":"8667df67-8610-4303-a175-021039315a8c","symbol":"PYPL","type":"SHORT
        STRADDLE","payment":"credit","short_call":"78","short_call2":null,"long_call":null,"long_call2":null,"short_put":"78","short_put2":null,"long_put":null,"long_put2":null,"quantity":1,"price_filled":5.49,"price_closed":5.05,"opened_during_market_hours":null,"closed_during_market_hours":null,"closed_before_expiration":null,"tweet_id":null,"open_quote":77.8,"close_quote":81.87,"tag":null,"note":"Rolling
        position out in time. Now have a truly delta neutral straddle which I''m good
        with given that 1) this expires prior to earnings and 2) PYPL has been pretty
        range bound between 70 and 85ish","closing_note":"","earnings":false,"assigned":false,"win":true,"initial":false,"expiry_date":"2023-02-02T17:00:00.000Z","close_date":"2023-01-27T21:11:26.075Z","open_date":"2023-01-18T17:19:02.236Z","podcast_url":null,"mistake":null,"createdAt":"2023-01-18T17:19:02.236Z","updatedAt":"2023-01-27T21:11:26.378Z","Posts":[],"User":{"title":"jrue","guid":"8667df67-8610-4303-a175-021039315a8c","username":"jrue","lowercase":"jrue","pfp":null,"flair":null,"ticker_message":null,"bio":"Tastytrade
        strategies. Selling options when IV is high, earnings, micro futures and occasional
        day trades. Delta neutral (usually).\n\nDiscord: jrue#3939/_jrue_","verified":true,"role":"member","last_active":"2024-03-04T20:30:00.370Z","streak_updated_at":"2024-03-04T11:00:33.940Z","streak":2,"longest_streak":13,"createdAt":"2020-04-11T09:42:49.886Z","updatedAt":"2024-03-04T20:30:00.371Z"},"Actions":[],"Reactions":[]},"error":null}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"69f-50SHVTxt75XUdMHfNbFZrdMnH/E"
      Ratelimit-Limit:
      - '1000'
      Ratelimit-Remaining:
      - '990'
      Ratelimit-Reset:
      - '501'
    status:
      code: 200
      message: OK
version: 1
