interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://api.thetagang.com/trades/2468ebdf-e78d-4589-ac0f-83ffaa6f3577
  response:
    body:
      string: '{"status":200,"data":{"trade":{"pl":1.16,"guid":"2468ebdf-e78d-4589-ac0f-83ffaa6f3577","expiry_date":"2023-03-15T17:00:00.000Z","close_date":"2023-02-01T15:49:56.005Z","open_date":"2023-01-18T19:10:34.381Z","symbol":"/MCL","initial":false,"quantity":1,"type":"SHORT
        STRANGLE","payment":"credit","win":true,"profitLoss":null,"user_guid":"8667df67-8610-4303-a175-021039315a8c","tag":null,"short_put":"68","long_put":null,"short_call":"95.5","long_call":null,"price_filled":2.27,"price_closed":1.11,"open_quote":null,"close_quote":null,"assigned":false,"earnings":false,"tweet_id":null,"opened_during_market_hours":null,"closed_during_market_hours":null,"closed_before_expiration":null,"note":"Betting
        on crude to trade in a range","closing_note":"50% profit hit, so taking off
        the table","createdAt":"2023-01-18T19:10:34.381Z","updatedAt":"2023-02-01T15:49:56.071Z","Actions":[],"Posts":[],"User":{"username":"jrue","flair":null,"role":"member","streak":2,"verified":true}}},"message":null}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"3dc-+u3G6IbbtXOjP1+7kkV8rSbpPHQ"
      X-Ratelimit-Limit:
      - '500'
      X-Ratelimit-Remaining:
      - '499'
      X-Ratelimit-Reset:
      - '1689700251'
    status:
      code: 200
      message: OK
version: 1
