interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://api.thetagang.com/trades/665b5d15-7009-49b7-8746-0e7effdf0829
  response:
    body:
      string: "{\"status\":200,\"data\":{\"trade\":{\"pl\":-0.17000000000000037,\"guid\":\"665b5d15-7009-49b7-8746-0e7effdf0829\",\"expiry_date\":\"2023-01-06T06:00:00.000Z\",\"close_date\":\"2023-01-04T18:46:02.175Z\",\"open_date\":\"2023-01-04T16:36:01.252Z\",\"symbol\":\"SPY\",\"initial\":false,\"quantity\":1,\"type\":\"SHORT
        NAKED CALL\",\"payment\":\"credit\",\"win\":false,\"profitLoss\":null,\"user_guid\":\"82ea7953-cdfb-4a4d-a381-f2a39c87c401\",\"tag\":null,\"short_put\":null,\"long_put\":null,\"short_call\":\"385\",\"long_call\":null,\"price_filled\":3.3,\"price_closed\":3.47,\"open_quote\":383.66,\"close_quote\":384.99,\"assigned\":false,\"earnings\":false,\"tweet_id\":null,\"opened_during_market_hours\":null,\"closed_during_market_hours\":null,\"closed_before_expiration\":null,\"note\":\"\U0001F6A8
        WARNING: AGGRESSIVE TRADE \U0001F6A8\\n\\n$SPY has banged into $384 many times
        and fell back down. The darkpool levels from $380-$340 are massive and there
        are big GEX levels there, too. All my shares were called away on 12/30 and
        selling puts seems a little wild when it looks like we're topping out.\",\"closing_note\":\"Took
        a baby loss here as it looks like this rally has legs.\",\"createdAt\":\"2023-01-04T16:36:01.252Z\",\"updatedAt\":\"2023-01-14T10:28:12.503Z\",\"Actions\":[],\"Posts\":[],\"User\":{\"username\":\"major\",\"flair\":\"\U0001F49C
        400-streak 1\uFE0F\u20E38\uFE0F\u20E33\uFE0F\u20E3: key\",\"role\":\"patron\",\"streak\":44,\"verified\":true}}},\"message\":null}"
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"534-hnGt4XiIKHIbgQopx40FfnKzJ34"
      X-Ratelimit-Limit:
      - '500'
      X-Ratelimit-Remaining:
      - '499'
      X-Ratelimit-Reset:
      - '1689700251'
    status:
      code: 200
      message: OK
version: 1
