interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://api3.thetagang.com/trades/2468ebdf-e78d-4589-ac0f-83ffaa6f3577
  response:
    body:
      string: '{"status":200,"data":{"shares":0,"cost":116,"profitLoss":"116","guid":"2468ebdf-e78d-4589-ac0f-83ffaa6f3577","user_guid":"8667df67-8610-4303-a175-021039315a8c","symbol":"/MCL","type":"SHORT
        STRANGLE","payment":"credit","short_call":"95.5","short_call2":null,"long_call":null,"long_call2":null,"short_put":"68","short_put2":null,"long_put":null,"long_put2":null,"quantity":1,"price_filled":2.27,"price_closed":1.11,"opened_during_market_hours":null,"closed_during_market_hours":null,"closed_before_expiration":null,"tweet_id":null,"open_quote":null,"close_quote":null,"tag":null,"note":"Betting
        on crude to trade in a range","closing_note":"50% profit hit, so taking off
        the table","earnings":false,"assigned":false,"win":true,"initial":false,"expiry_date":"2023-03-15T17:00:00.000Z","close_date":"2023-02-01T15:49:56.005Z","open_date":"2023-01-18T19:10:34.381Z","podcast_url":null,"mistake":null,"createdAt":"2023-01-18T19:10:34.381Z","updatedAt":"2023-02-01T15:49:56.071Z","Posts":[],"User":{"title":"jrue","guid":"8667df67-8610-4303-a175-021039315a8c","username":"jrue","lowercase":"jrue","pfp":null,"flair":null,"ticker_message":null,"bio":"Tastytrade
        strategies. Selling options when IV is high, earnings, micro futures and occasional
        day trades. Delta neutral (usually).\n\nDiscord: jrue#3939/_jrue_","verified":true,"role":"member","last_active":"2024-03-04T20:30:00.370Z","streak_updated_at":"2024-03-04T11:00:33.940Z","streak":2,"longest_streak":13,"createdAt":"2020-04-11T09:42:49.886Z","updatedAt":"2024-03-04T20:30:00.371Z"},"Actions":[],"Reactions":[]},"error":null}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"62a-k2BjUe3jFCNy2g3NVktloiphrA4"
      Ratelimit-Limit:
      - '1000'
      Ratelimit-Remaining:
      - '999'
      Ratelimit-Reset:
      - '505'
    status:
      code: 200
      message: OK
version: 1
