interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://api.thetagang.com/trades/8cdf95fd-d0d4-4f47-ae81-a1e000979291
  response:
    body:
      string: "{\"status\":200,\"data\":{\"trade\":{\"pl\":-1.5999999999999999,\"guid\":\"8cdf95fd-d0d4-4f47-ae81-a1e000979291\",\"expiry_date\":\"2022-03-18T07:00:00.000Z\",\"close_date\":\"2022-03-17T19:30:23.966Z\",\"open_date\":\"2022-02-02T20:15:34.571Z\",\"symbol\":\"PYPL\",\"initial\":false,\"quantity\":1,\"type\":\"SHORT
        IRON CONDOR\",\"payment\":\"credit\",\"win\":false,\"profitLoss\":null,\"user_guid\":\"46655745-14d1-45cf-b3a0-4f6b8502e39b\",\"tag\":null,\"short_put\":\"115\",\"long_put\":\"110\",\"short_call\":\"150\",\"long_call\":\"155\",\"price_filled\":1.7,\"price_closed\":3.3,\"open_quote\":null,\"close_quote\":null,\"assigned\":false,\"earnings\":false,\"tweet_id\":null,\"opened_during_market_hours\":null,\"closed_during_market_hours\":null,\"closed_before_expiration\":null,\"note\":\"73%
        p50 \\n1SD\\ncollected 1/3\\nIv% 99.6\\nRSI 26\\n\\nStandard condor for me.
        Looking for a contraction of IV here. 30% PT set but if it doesn't hit by
        the end of the week ill change to 50% till expiration\",\"closing_note\":\"\",\"createdAt\":\"2022-02-02T20:15:34.573Z\",\"updatedAt\":\"2023-01-14T10:11:50.515Z\",\"Actions\":[],\"Posts\":[],\"User\":{\"username\":\"Rustyerr\",\"flair\":\"1%
        1\uFE0F\u20E30\uFE0F\u20E38\uFE0F\u20E3: shackleford\",\"role\":\"patron\",\"streak\":1,\"verified\":null}}},\"message\":null}"
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"494-nditg32SfpbvKunHG4O5XWCwaF8"
      X-Ratelimit-Limit:
      - '500'
      X-Ratelimit-Remaining:
      - '499'
      X-Ratelimit-Reset:
      - '1689700251'
    status:
      code: 200
      message: OK
version: 1
