interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://query2.finance.yahoo.com/v6/finance/quoteSummary/AMD?modules=financialData&modules=quoteType&modules=defaultKeyStatistics&modules=assetProfile&modules=summaryDetail&ssl=true
  response:
    body:
      string: '{"quoteSummary":{"result":[{"assetProfile":{"address1":"2485 Augustine
        Drive","city":"Santa Clara","state":"CA","zip":"95054","country":"United States","phone":"408
        749 4000","website":"https://www.amd.com","industry":"Semiconductors","industryDisp":"Semiconductors","sector":"Technology","longBusinessSummary":"Advanced
        Micro Devices, Inc. operates as a semiconductor company worldwide. It operates
        in four segments: Data Center, Client, Gaming, and Embedded segments. The
        company offers x86 microprocessors and graphics processing units (GPUs) as
        an accelerated processing unit, chipsets, data center, and professional GPUs;
        and embedded processors, and semi-custom system-on-chip (SoC) products, microprocessor
        and SoC development services and technology, data[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://query1.finance.yahoo.com/ws/fundamentals-timeseries/v1/finance/timeseries/AMD?symbol=AMD&type=trailingPegRatio&period1=1674000000&period2=1689811200
  response:
    body:
      string: '{"timeseries":{"result":[{"meta":{"symbol":["AMD"],"type":["trailingPegRatio"]},"timestamp":[1689638400],"trailingPegRatio":[{"dataId":14021,"asOfDate":"2023-07-18","periodType":"TTM","reportedValue":{"raw":1.9136,"fmt":"1.91"}}]}],"error":null}}'
    headers:
      content-type:
      - application/json;charset=utf-8
      x-yahoo-request-id:
      - 6np4lehibfsue
      y-rid:
      - 6np4lehibfsue
    status:
      code: 200
      message: OK
version: 1
