interactions:
  - request:
      body: null
      headers:
      method: GET
      uri: https://storage.googleapis.com/iexcloud-hl37opg/api/logos/DOOTY.png
    response:
      body:
        string:
          <?xml version='1.0' encoding='UTF-8'?><Error><Code>AccessDenied</Code><Message>Access
          denied.</Message><Details>Anonymous caller does not have storage.objects.get
          access to the Google Cloud Storage object. Permission 'storage.objects.get'
          denied on resource (or it may not exist).</Details></Error>
      headers:
        Content-Type:
          - application/xml; charset=UTF-8
      status:
        code: 403
        message: Forbidden
  - request:
      body: null
      headers:
      method: GET
      uri: https://storage.googleapis.com/iex/api/logos/DOOTY.png
    response:
      body:
        string:
          <?xml version='1.0' encoding='UTF-8'?><Error><Code>AccessDenied</Code><Message>Access
          denied.</Message><Details>Anonymous caller does not have storage.objects.get
          access to the Google Cloud Storage object. Permission 'storage.objects.get'
          denied on resource (or it may not exist).</Details></Error>
      headers:
        Content-Type:
          - application/xml; charset=UTF-8
      status:
        code: 403
        message: Forbidden
  - request:
      body: null
      headers:
      method: GET
      uri: https://query2.finance.yahoo.com/v6/finance/quoteSummary/DOOTY?modules=financialData&modules=quoteType&modules=defaultKeyStatistics&modules=assetProfile&modules=summaryDetail&ssl=true
    response:
      body:
        string:
          '{"quoteSummary":{"result":null,"error":{"code":"Not Found","description":"Quote
          not found for ticker symbol: DOOTY"}}}'
      headers:
        content-type:
          - application/json;charset=utf-8
        x-yahoo-request-id:
          - 7vb07nlibdqa8
        y-rid:
          - 7vb07nlibdqa8
      status:
        code: 404
        message: Not Found
version: 1
